﻿@model Keepnote_Step1_boilerplate.Models.NoteModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoteId" class="control-label"></label>
                <input asp-for="NoteId" class="form-control" disabled />
                @Html.HiddenFor(model=>model.NoteId)
                <span asp-validation-for="NoteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteName" class="control-label"></label>
                <input asp-for="NoteName" class="form-control" />
                <span asp-validation-for="NoteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteContent" class="control-label"></label>
                <input asp-for="NoteContent" class="form-control" />
                <span asp-validation-for="NoteContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteStatus" class="control-label"></label>
                <input asp-for="NoteStatus" class="form-control" />
                <span asp-validation-for="NoteStatus" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>*@
            @Html.HiddenFor(model => model.CreatedDate)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
