﻿@model IEnumerable<Keepnote_Step1_boilerplate.Models.NoteModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.NoteId })
                @Html.ActionLink("Modify", "Edit", new { id = item.NoteId })
            </td>
        </tr>
}
    </tbody>
</table>
